{{!-- Slider --}}
{{!-- En pantalla pequeña --}}
<div
  class="slider d-block d-md-none text-center"
  style="background-image: url('img/slider-sm.png'); background-size: cover;">
  <div class="container container-padding">
    <div class="row">
      <div class="col-10 text-center offset-1">
        <h1 class="text-dark">Lorem ipsum</h1>
        <p class="text-soft">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, similique doloribus, aspernatur aut recusandae.
        </p>
        <button class="btn btn-success rounded">
          Más información
        </button>
      </div>
    </div>
  </div>
</div>
{{!-- En pantalla grande --}}
<div
  class="slider d-none d-md-block"
  style="background-image: url('img/slider.png'); background-size: cover;">
  <div class="container container-padding">
    <div class="row">
      <div class="col-5 text-left">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, similique doloribus, aspernatur aut recusandae
        </p>
        <button class="btn btn-success rounded">
          Más información
        </button>
      </div>
    </div>
  </div>
</div>
{{!-- Filters and search --}}
{{!-- Fluid light container --}}
<div class="bg-light w-100">
  <div class="container container-padding">
    <div class="row">
      <div class="col-10 offset-1 col-md-8 offset-md-2">
        {{#power-select
          options=options
          onchange=(action "selectProfile")
          placeholder="Buscar hospital o centro de salud."
          class="form-control"
          as |name|
        }}
          {{name}}
        {{/power-select}}
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 col-md-4 offset-md-2 filters">
        {{!-- Departamento --}}
        {{one-way-select selectedValue
          options=options
          update=(action (mut selectedValue))
          class="form-control"
        }}
      </div>
      <div class="col-10 offset-1 col-md-4 offset-md-0 filters">
        {{!-- Hospital/Centro de salud --}}
        {{one-way-select selectedValue
          options=options
          update=(action (mut selectedValue))
          class="form-control"
        }}
      </div>
    </div>
  </div>
</div>
{{!-- Portofolio preview-hospital --}}
{{!-- White container --}}
<div class="container container-padding">
  {{preview-hospital}}
</div>
