<div id="wrapper-slider">
  {{!-- slider --}}
  <img
    src="{{rootURL}}/img/slider.png"
    alt=""
    width="100%"
    class="mt-5"
    id="start">
  <img
    src="{{rootURL}}/img/ambulance.png"
    alt="Ambulancia"
    class="ambulance animate-to-left">
</div>